<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
  </head>
  <body>
    <form class="" action="{% url 'add' %}" method="post">
      {% csrf_token %}
      <label>Title: </label>
      <input type="text" name="title" value="">
      <label>Description: </label>
      <textarea name="description" rows="8" cols="40"></textarea>
      <input type="submit" value="Add Course!">
    </form>
    <table>
      <thead>
        <th>Course Name</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Actions</th>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td>{{course.title}}</td>
            <td>{{course.description}}</td>
            <td>{{course.created_at}}</td>
            <td><a href="{% url 'destroy' id=course.id %}">remove</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
